/*
  Josh's Custom CSS Reset
  https://www.joshwcomeau.com/css/custom-css-reset/
*/
*, *::before, *::after {
  box-sizing: border-box;
}
* {
  margin: 0;
}
body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}
img, picture, video, canvas, svg {
  display: block;
}
input, button, textarea, select {
  font: inherit;
}
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}
#root, #__next {
  isolation: isolate;
}

/************************************************************/
/* Custom properties */
:root {
  --blue: #0284c7;
  --grey: #e2e8f0;
  --red: #e63946;
}

/************************************************************/
/* General Styles */
body {
  font-family: tahoma, sans-serif;
  background-color: var(--grey);
}

/* Buttons */
button {
  font-weight: 800;
  background-color: var(--blue);
  color: #fff;
  border: none;
  border-radius: 100px;
}

/************************************************************/
/* Header Section */
.header {
  background-color: #fff;

  padding: 24px;
  
  display: flex;
  justify-content: space-around;
}

h1 {
  color: var(--blue);
}

.add-btn {  
  padding: 0px 24px;
}

/************************************************************/
/* Books Section */
.books {
  padding: 36px;

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(260px, 1fr));
  grid-auto-rows: 1fr;
  gap: 24px;
}

.book {
  background-color: #fff;
  
  padding: 24px;

  display: grid;
  align-content: space-between;
  gap: 12px;

  border-radius: 8px;
  border-left: 8px solid var(--blue);
  
  box-shadow: 3px 3px 3px lightgray;
}

.title {
  font-weight: 800;
}

.remove-btn {
  background-color: var(--red);

  padding: 4px;
}

/************************************************************/
/* Dialog and form section */

dialog {
  margin: auto;
  border-radius: 4px;
  border: none;

  position: relative;
}

.close-btn {
  background-color: #fff;
  color: #000;

  position: absolute;
  top: 4px;
  right: 4px;
}

form {
  display: grid;
  gap: 16px;
}

.form-input-div input,
.confirm-btn {
  width: 100%;
  padding: 4px;

  border-radius: 4px;
}

.form-input-div input {
  border: 1px solid var(--grey);
}